%form(action="/" method="post" accept-charset="UTF-8")
  %label(for="repo") Github Repository
  %input(type="text" id="repo" name="repo" maxlength="80" placeholder="travis-ci/travis-ci")
  %input(type="submit" value="Validate")
