%form(class="first" action="/" method="post" accept-charset="UTF-8")
  %label(for="repo") Enter your Github repository
  %input(type="text" id="repo" name="repo" maxlength="80" placeholder="travis-ci/travis-weblint")
  %label(for="repo") Enter the branch (or SHA1 ref) to validate
  %input(type="text" id="sha" name="sha" maxlength="80" value="master")
  %input(type="submit" value="Validate")

%form(action="/" method="post" accept-charset="UTF-8")
  %label(for="yml") Or paste your .travis.yml
  %textarea(id="yml" name="yml" maxlength="10000")
  %input(type="submit" value="Validate")
