!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Validate your .travis.yml file
    %link(rel="stylesheet" type="text/css" href="/style.css")
    %link(rel="icon" type="image/png" href="/favicon.ico")

  %body
    %h1
      %a(href="/") Travis WebLint

    %p.tagline
      Uses
      %a(href="https://github.com/travis-ci/travis-lint") travis-lint
      to check your .travis.yml config.

    = yield
