!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Travis Lint
    %link(rel="stylesheet" type="text/css" href="/style.css")

  %body
    %h1 Travis Lint
    %p
      Uses
      %a(href="https://github.com/travis-ci/travis-lint") travis-lint
      to check your .travis.yml for you.

    = yield
