- if @result.valid?
  %p Hooray, your .travis.yml seems to be solid!
- else
  %ul
    - @result.issues.each do |issue|
      %li
        %h3 Found an issue with the `#{issue[:key]}` key
        %p= issue[:issue]
