- if @result.valid?
  %p.result Hooray, your .travis.yml seems to be solid!
- else
  %ul.result
    - @result.issues.each do |issue|
      %li
        %p
          Found an issue with the
          %b #{issue[:key]}
          key:
        %p= issue[:issue]
